input/hg19.fa*
input/sacCer3.fa*
db/
SyntheticEpitope/synthetic_genome/
SyntheticDeletion/synthetic_genome/
SyntheticEpitope/results/sacCer3*
SyntheticEpitope/results/hg19*
SyntheticDeletion/results/sacCer3*
SyntheticEpitope/results/mix_*
SyntheticDeletion/logs/*.err-*
SyntheticDeletion/logs/*.out-*
SyntheticEpitope/logs/*.err-*
SyntheticEpitope/logs/*.out-*
YKOC-wgs/logs/*.err-*
YKOC-wgs/logs/*.out-*
YKOC-wgs/results/FASTQ
YKOC-wgs/results/BAM
YKOC-wgs/results/ID
YKOC-wgs/results/BedGraphs
ENCODEdata-eGFP/logs/*.out-*
ENCODEdata-eGFP/logs/*.err-*
ENCODEdata-eGFP/results/FASTQ
ENCODEdata-eGFP/results/ID
SyntheticStrain/synthetic_genome/
SyntheticStrain/logs/*.err-*
SyntheticStrain/logs/*.out-*
