input/hg19.fa*
input/sacCer3.fa*
db/
SyntheticEpitope/synthetic_genome/
SyntheticEpitope/logs/*.err-*
SyntheticEpitope/logs/*.out-*
SyntheticEpitope/results/sacCer3*
SyntheticEpitope/results/hg19*
SyntheticEpitope/results/mix_*
ENCODEdata-eGFP/logs/*.out-*
ENCODEdata-eGFP/logs/*.err-*
ENCODEdata-eGFP/results/FASTQ
ENCODEdata-eGFP/results/ID
SyntheticDeletion/synthetic_genome/
SyntheticDeletion/logs/*.err-*
SyntheticDeletion/logs/*.out-*
SyntheticDeletion/results/sacCer3*
YKOC-wgs/logs/*.err-*
YKOC-wgs/logs/*.out-*
YKOC-wgs/results/FASTQ
YKOC-wgs/results/BAM
YKOC-wgs/results/ID
YKOC-wgs/results/BedGraphs
SyntheticStrain/synthetic_genome/
SyntheticStrain/logs/*.err-*
SyntheticStrain/logs/*.out-*
SyntheticStrain/results/sacCer3*
SyntheticStrain/results/hg19*
ENCODE_CellLines/results/BAM
ENCODE_CellLines/results/BAM-nospike
